.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 10%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 1em;
    background-color: #470000;
    padding: 1em;
}

.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu_buttons {
    padding: 2em;
    border-radius: 2em;
}

.filters {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5em;
    gap: 2em;
    padding: 2em;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.list-visible {
    background-color: #470000;
}

.not-visible {
    visibility: hidden;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.2em solid transparent;
    background-color: white;
    border-radius: 2em;
    min-width: 40%;
    max-width: 40%;
    padding: 1em;
}